* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
/* header */
header {
  background-color: #FFF9F4;
  position: sticky;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  
  
}
.branding {
  display: flex;
  align-items: center;
}
.branding img {
  width: 80px;
}
.branding h1 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #191818;
}
.branding .highlight {
  color: #fa804c;
  font-weight: bold;
}
.container i {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}
nav ul .current a {
  color: black;
}
nav ul li a:hover {
  color: black;
}
/* hero section */
.hero{
    background-color: #FFF9F4;
    padding: 10px 80px 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .heroImg img{
    width: 520px;
}
.hero .heroText{
    max-width: 500px;
}
.hero .heroText h1{
    font-size: 80px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}
.hero .heroText .orange{
    color: #FA804C;
}
.hero .heroText .black{
    color:#363958;
}
.hero .heroText p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #191818;
    margin-bottom: 20px;
}
button{
    padding: 12px 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #3D4FF3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0B5ED7;
}
/* casual shoes */
.casualShoes{
    padding: 40px 80px;
}
.casualShoes h1{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #363958;
    margin-bottom: 30px;
}
.casualShoesContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.casualShoes .casualShoesCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 350px;
    background-color: #FFFFFF;
    padding: 20px 15px;
    border-radius: 12px;
}

.casualShoes .casualShoesCard .image{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    border-radius: 12px;
    height: 350px;
}
.casualShoes .casualShoesCard img{
    width: 300px;
}
.casualShoes .casualShoesCard .cardText{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 0 15px;
}
.casualShoes .casualShoesCard h2{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:#363958;
}
.casualShoes .casualShoesCard p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #191818;
}
.casualShoes .casualShoesCard .price{
   display: flex;
   width: 100%;
    align-items: center;
   justify-content: space-between;
   margin-top: 10px;
}
.casualShoes .casualShoesCard span{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #FA804C;
    font-weight: bold;
}
/* marketing section */
.marketing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}
.marketing .marketingImg img{
    width: 530px;
}
.marketing .marketingText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.marketing .marketingText .textBox{
    display: flex;
    gap: 50px;
    width: 550px;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 20px 35px;
}
.marketing .marketingText .textBox img{
    width: 80px;
}
.textBox .textContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textBox .textContent h1{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #363958;
}
.textBox .textContent p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #191818;
}
/* newsletter section */
.newsletter{
    padding: 40px 80px;
    display: flex;;
    justify-content: center;
    align-items: center;
}
.newsletter .newsletterBox{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    border-radius: 12px;
}
.newsletter .newsletterBox h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #363958;
}
.newsletter .newsletterBox .inputBox{
    display: flex;
}
.newsletter .newsletterBox .inputBox{
    width: 900px;
    
}
.newsletter .newsletterBox .inputBox input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #E5E5E5;
    border-radius: 12px 0 0 12px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.newsletter .newsletterBox .inputBox input:focus{
    border:1px solid #3D4FF3;
    border-radius:  12px 0 0 12px;
    flex-grow: 1;
}
#btn{
    border-radius: 0 12px 12px 0;
}
/* footer section */
footer{
    background-color: #F8F9FA;
    padding: 70px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
footer .fBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
footer .fBox h1{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #363958;
    margin-bottom: 10px;
}
footer .fBox ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}
footer .fBox ul li a{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #191818;
    text-align: center;
    text-decoration: none;
}
.footB{
    background-color:#F8F9FA;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footB p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #191818;
}
.footB p span{
    color: #FA804C;
}
































@media only screen and (max-width: 992px){
    nav{
        display: none;
    }
    .container i{
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .hero{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .casualShoes .casualShoesCard{
        width: 100%;
    }
    .marketing{
        gap: 30px;
        
    }
    .marketing .marketingText .textBox{
        flex-direction: column;
        gap: 20px;
    
    }
    .newsletter .newsletterBox h1{
        font-size: 24px;
    }
    .newsletter .newsletterBox .inputBox{
        width: 450px;
    }
}
@media only screen and (max-width: 992px){
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
}
@media only screen and (max-width: 600px){
    .marketing .marketingText .textBox{
    width: 100%;
    
    }
 
    .marketing .marketingImg img{
    width: 350px;
}
    .newsletter .newsletterBox{
        width: 400px;
    }
    .newsletter .newsletterBox .inputBox{
        width: 350px;
    }
    .newsletter .newsletterBox h1{
    font-size: 23px;
}
}
